body{
    background-color: #2b596e;
    background-size: cover;
 }
 div{
     height: 100%;
     width: 100%;
     background-color: #2b596e;
 }
 
 p{
     color: white;
     font-size: 120%;
 }
 
 
 h1{
     font-size: 500%;
     font-style: oblique;
     text-decoration: underline;
     color: red;
     font-family: none;
 }
 